# Análise dos Relatórios de Insucesso
Este notebook tem como objetivo explorar e analisar os dados dos relatórios de insucesso acadêmico, presentes em diferentes planilhas Excel.

## O que este notebook faz:
- Carrega todas as abas de um arquivo Excel contendo dados de insucesso.
- Exibe o nome das abas, o formato (shape) e os tipos de dados de cada aba.
- Mostra as colunas presentes em cada aba.
- Realiza uma checagem rápida de valores nulos por aba.
- Exibe uma amostra das primeiras linhas da primeira aba.

Essas etapas ajudam a entender a estrutura dos dados, identificar possíveis problemas (como valores ausentes) e preparar o terreno para análises mais detalhadas posteriormente.

## Imports

In [9]:
import pandas as pd

In [10]:
# Carrega todas as abas
_all = pd.read_excel("./Relatorio-Lista-Insucesso.xlsx", sheet_name=None)

# Lista de abas e formas
print("Abas:", list(_all.keys()))
for k, df in _all.items():
    print(f"\n--- {k} ---")
    print("shape:", df.shape)
    print("colunas:", list(df.columns))
    print(df.dtypes)

# Exemplo de checagem rápida de nulos por aba
for k, df in _all.items():
    miss = df.isna().sum()
    miss = miss[miss>0]
    if not miss.empty:
        print(f"\nNulos em {k}:\n{miss}")

# Mostra amostra das três primeiras linhas da primeira aba
first_sheet = next(iter(_all))
_all[first_sheet].head(3)

Abas: ['2025.1', '2024.2', '2024.1', '2023.2']

--- 2025.1 ---
shape: (150, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

--- 2024.2 ---
shape: (164, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

--- 2024.1 ---
shape: (146, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

--- 2023.2 ---
shape: (154, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

Nulos em 2025.1:
Nome      1
Pólo    150
dtype: int64

Nulos em 2024.2:
Nome      1
Pólo    164
dtype: int64

Nulos em 2024.1:
Nome      1
Pólo    146
dtype: int64

Nulos em 2023.2:
Nome      1
Pólo    154
dtype: int64

,Código,Nome,Pólo,Turmas,Discentes,Cancelamentos,Reprovações Média,Reprovações Nota,Reprovações Falta,Reprovações Média e Falta,Reprovações Nota e Falta,Trancamentos,Total Insucesso
0,MAT0039,ALGEBRA LINEAR,NaN,1,1,0,0,0,0,0,0,1,1
1,CIC0004,ALGORITMOS E PROGRAMAÇÃO DE COMPUTADORES,NaN,5,38,3,5,0,2,0,0,1,11
2,MAT0045,ANALISE 1,NaN,1,1,0,0,0,0,0,0,1,1

In [11]:
# Carrega todas as abas
_all = pd.read_excel("./Relatorio-Lista-Insucesso-Automotiva.xlsx", sheet_name=None)

# Lista de abas e formas
print("Abas:", list(_all.keys()))
for k, df in _all.items():
    print(f"\n--- {k} ---")
    print("shape:", df.shape)
    print("colunas:", list(df.columns))
    print(df.dtypes)

# Exemplo de checagem rápida de nulos por aba
for k, df in _all.items():
    miss = df.isna().sum()
    miss = miss[miss>0]
    if not miss.empty:
        print(f"\nNulos em {k}:\n{miss}")

# Mostra amostra das três primeiras linhas da primeira aba
first_sheet = next(iter(_all))
_all[first_sheet].head(3)

Abas: ['2025.1', '2024.2', '2024.1', '2023.2']

--- 2025.1 ---
shape: (79, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

--- 2024.2 ---
shape: (73, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

--- 2024.1 ---
shape: (76, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

--- 2023.2 ---
shape: (83, 13)
colunas: ['Código', 'Nome', 'Pólo', 'Turmas', 'Discentes', 'Cancelamentos', 'Reprovações Média', 'Reprovações Nota', 'Reprovações Falta', 'Reprovações Média e Falta', 'Reprovações Nota e Falta', 'Trancamentos', 'Total Insucesso']
Código                        object
Nome                          object
Pólo                         float64
Turmas                         int64
Discentes                      int64
Cancelamentos                  int64
Reprovações Média              int64
Reprovações Nota               int64
Reprovações Falta              int64
Reprovações Média e Falta      int64
Reprovações Nota e Falta       int64
Trancamentos                   int64
Total Insucesso                int64
dtype: object

Nulos em 2025.1:
Nome     1
Pólo    79
dtype: int64

Nulos em 2024.2:
Nome     1
Pólo    73
dtype: int64

Nulos em 2024.1:
Nome     1
Pólo    76
dtype: int64

Nulos em 2023.2:
Nome     1
Pólo    83
dtype: int64

,Código,Nome,Pólo,Turmas,Discentes,Cancelamentos,Reprovações Média,Reprovações Nota,Reprovações Falta,Reprovações Média e Falta,Reprovações Nota e Falta,Trancamentos,Total Insucesso
0,FGA0266,ACÚSTICA E VIBRAÇÕESVEICULARES,NaN,1,4,0,0,0,1,0,0,0,1
1,FGA0229,ANÁLISE ESTRUTURALMÉTODO DOS ELEMENTOS FINITOS,NaN,1,7,0,1,0,0,0,0,2,3
2,FGA0194,ARQUITETURA DE\nMOTORES DE COMBUSTÃO INTERNA,NaN,1,2,0,0,0,1,0,0,0,1